@page
@model EUMusic.Pages.Winners.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Winner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Winner.Date" class="control-label"></label>
                <input asp-for="Winner.Date" class="form-control" />
                <span asp-validation-for="Winner.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Winner.HostCity" class="control-label"></label>
                <input asp-for="Winner.HostCity" class="form-control" />
                <span asp-validation-for="Winner.HostCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Winner.WinnerCountry" class="control-label"></label>
                <input asp-for="Winner.WinnerCountry" class="form-control" />
                <span asp-validation-for="Winner.WinnerCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Winner.SongTitle" class="control-label"></label>
                <input asp-for="Winner.SongTitle" class="form-control" />
                <span asp-validation-for="Winner.SongTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Winner.Performer" class="control-label"></label>
                <input asp-for="Winner.Performer" class="form-control" />
                <span asp-validation-for="Winner.Performer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Winner.Language" class="control-label"></label>
                <input asp-for="Winner.Language" class="form-control" />
                <span asp-validation-for="Winner.Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Winner.Points" class="control-label"></label>
                <input asp-for="Winner.Points" class="form-control" />
                <span asp-validation-for="Winner.Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
