@page
@model PrivacyModel
@{
    ViewData["Title"] = "Eurovision Song Contest winners";
}
<h1>@ViewData["Title"]</h1>

<p>
    67 songs written by 124 songwriters have won the Eurovision Song Contest, an annual competition organised by member countries of the European Broadcasting Union. The contest, which has been broadcast every year since its debut in 1956 (with the exception of 2020), is one of the longest-running television programmes in the world. The contest's winner has been determined using numerous voting techniques throughout its history; centre to these have been the awarding of points to countries by juries or televoters. The country awarded the most points is declared the winner and this site hehps to see the winners of all of eurovisions since the very first one.
</p>
